* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0;
  min-height: 100dvh;
  padding-top: 20px;
}

p {
  font-size: 24px;
}

img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
/* .gallery { */
/* display: flex;
  gap: 15px;
} */

.active {
  color: rgb(255, 0, 174);
}

my-nav {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 20px;
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.3s;
}

.photo:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
/* 
.gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
} */
.photo:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(255, 0, 150, 0.6);
}
.gal-tflexlery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.active {
  color: rgb(255, 0, 200);
  font-weight: bold;
}

.s67 {
  align-self: center;
}
